/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: url("./assets/home-page-image.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, label, p{
    color: white;
}

p {
    margin-bottom: 0;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

.app-margin-left {
    margin-left: 1em;
}