#form {
    margin:auto;
    float: none;
}
#buttons {
    display: block;
    margin: 20px auto;
    text-align: center;
}
a {
    color: #2b3e72; 
}
#encuentros {
    margin: 80px auto 0;
}

.btn-link {
    color: #fff;    
}