<div id="encuentros" class="container">
    <div class="col-xs-4 hidden-print ng-scope" id="form">
        <h2>{{pageTitle}}</h2>
        <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fecha.valid }">
                <label for="fecha">Fecha</label>
                <input type="date" class="form-control" name="fecha" [(ngModel)]="model.fecha" #fecha="ngModel" required />
                <div *ngIf="f.submitted && !fecha.valid" class="help-block">La fecha no puede ser vacía</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !deporte.valid }">
                <label for="deporte">Deporte</label>
                <select class="form-control" (change)="onChange($event.target.value)" name="deporte" [(ngModel)]="model.deporte" #deporte="ngModel" required>
                    <option *ngFor='let aDeporte of deportes' [value]="aDeporte.nombre">{{aDeporte.nombre}}</option>
                </select>
                <div *ngIf="f.submitted && !deporte.valid" class="help-block">El nombre del deporte no puede ser vacío</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted}">
                <div *ngIf="deporteActual != null && !deporteActual.esIndividual && participantes.length >1">
                    <div>
                        <label for="equipoLocal">Equipo Local:</label>
                        <select class="form-control" [(ngModel)]="model.participanteLocal" name="participanteLocal" #participanteLocal="ngModel" required>
                            <option *ngFor='let aParticipante of participantes; index as i' [value]="aParticipante.id">{{aParticipante.nombre}}</option>
                        </select>
                        <label for="posicionLocal">Puntos:</label>
                        <input type="number" class="form-control" name="puntosLocal" [(ngModel)]="model.puntosLocal" #puntosLocal="ngModel" required />
                    </div>
                    <div>    
                        <label for="equipoVisitante">Equipo Visitante:</label>
                        <select class="form-control" [(ngModel)]="model.participanteVisitante" name="participanteVisitante" #participanteVisitante="ngModel" required>
                            <option *ngFor='let aParticipante of participantes' [value]="aParticipante.id">{{aParticipante.nombre}}</option>
                        </select>
                        <label for="posicion">Puntos:</label>
                        <input type="number" class="form-control" name="puntosVisitante" [(ngModel)]="model.puntosVisitante" #puntosVisitante="ngModel" required />
                    </div>
                </div>
                <div *ngIf="deporteActual != null && deporteActual.esIndividual && participantes.length>1">
                    <label for="participantesLabel">Participante:</label>
                    <div *ngFor='let aParticipante of participantes ; let i = index' class="participantes-individual" style="display:flex; flex-direction:row; margin: 10px auto;">
                        <input [attr.id]="aParticipante.id" [value]="aParticipante.nombre" class="form-control" [ngModel]="aParticipante.nombre"  name="participante-{{i}}" required readonly/>
                        <label for="posicion">Posicion:</label>
                        <input [attr.id]="aParticipante.id" type="number" class="form-control" [(ngModel)]="posicion[i]" required/>
                        <div *ngIf="f.submitted && !posicion.valid" class="help-block">La posicion no puede ser vacía</div>
                    </div>
                </div>
                <div class="form-group" id="buttons">
                    <button [disabled]="loading" class="btn btn-primary">{{btnText}}</button>
                    <a [routerLink]="['/encuentros']" class="btn btn-link">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
