<div>
    <div id="posiciones-list">
        <div class='panel panel-primary' >
            <div class='panel-heading'>
                Posiciones
            </div>
            <label for="deporte">Deporte</label>
            <select class="form-control" (change)="onChange($event.target.value)" name="deporte" [(ngModel)]="model.deporte" #deporte="ngModel" required>
                <option *ngFor='let aDeporte of deportes' [value]="aDeporte.nombre">{{aDeporte.nombre}}</option>
            </select>
        </div>
    </div>
    <div id="posiciones-list" *ngIf="deporteActual != null" style="background-color:white;">
        <table class='table'>
            <thead>
                <tr>
                    <th>Puesto</th>
                    <th>Nombre</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let aPosicion of posiciones'>
                    <td>{{aPosicion.puesto}}</td>
                    <td>{{aPosicion.nombre}}</td>
                    <td>{{aPosicion.puntos}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>