<div id="usuarios" class="container">
    <div class="col-xs-8 hidden-print ng-scope" id="form">
        <h2>{{pageTitle}}</h2>
        <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
            <div *ngIf="!isEditing" class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
                <label for="userName">Nombre de usuario</label>
                <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required />
                <div *ngIf="f.submitted && !userName.valid" class="help-block">El nombre de usuario no puede ser vacío</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                <div *ngIf="f.submitted && !name.valid" class="help-block">El nombre no puede ser vacío</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
                <div *ngIf="f.submitted && !lastName.valid" class="help-block">El apellido no puede ser vacío</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
                <label for="mail">Mail</label>
                <input type="text" class="form-control" name="mail" [(ngModel)]="model.mail" #mail="ngModel" required />
                <div *ngIf="f.submitted && !mail.valid" class="help-block">El mail no puede ser vacío</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pass.valid }">
                <label for="pass">Contraseña</label>
                <input type="password" class="form-control" name="pass" [(ngModel)]="model.pass" #pass="ngModel" required />
                <div *ngIf="f.submitted && !pass.valid" class="help-block">La contraseña no puede ser vacía</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !admin.valid }">
                <label for="admin">¿Es administrador?:</label>
                <select class="form-control" [(ngModel)]="model.admin" name="admin" #admin="ngModel" required>
                    <option value="" class=""></option>
                    <option [value]="true">Si</option>
                    <option [value]="false">No</option>
                </select>
                <div *ngIf="f.submitted && !admin.valid" class="help-block">Debe seleccionar una opción</div>
            </div>
            <div class="form-group" id="buttons">
                <button [disabled]="loading" class="btn btn-primary">{{btnText}}</button>
                <a [routerLink]="['/usuarios']" class="btn btn-link">Cancelar</a>
            </div>
        </form>
    </div>
</div>