button {
    display: block;
}
.btn-agregar {
    margin: 30px auto;
}
.panel-primary {
    background: #fff;
}
#usuarios-list {
    display: table;
    text-align: center;
    margin: auto;
    padding-top: 45px;
}